/* src/components/NavBar.css */
.nav-link {
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
  }
  
  .nav-link.active {
    color: red;
  }
  